apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: deployment
    app.kubernetes.io/instance: controller-manager
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: curator
    app.kubernetes.io/part-of: curator
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /manager
        args:
          - "--health-probe-bind-address=0.0.0.0:8081"
          - "--metrics-bind-address=127.0.0.1:8080"
          - "--http-port=:8082"
        image: quay.io/curator/curator:latest
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
        env:
          - name: DATABASE_NAME
            valueFrom:
              secretKeyRef:
                 name: db-secret-file
                 key: DatabaseName

          - name: DATABASE_USER
            valueFrom:
              secretKeyRef:
                name: db-secret-file
                key: DatabaseUser

          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: db-secret-file
                key: DatabasePassword

          - name: DATABASE_HOST_NAME
            valueFrom:
                secretKeyRef:
                  name: db-secret-file
                  key: DatabaseHostName

          - name: PORT_NUMBER
            valueFrom:
                secretKeyRef:
                  name: db-secret-file
                  key: DatabasePort
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
